/**************************
*
*全站公用样式
*
***************************/


/*========== 全局样式定义 ==========*/
html {height:100%;}
body {margin:0; padding:0; width:100%; overflow-x:hidden; height:100%; overflow-y:hidden; font-size:12px; color:#333; font-family:"微软雅黑";}
table,thead,tbody,tr,th,td,ul,ol,li,dl,dt,dd,input,textarea {margin:0; padding:0; list-style:none; font-family:"微软雅黑";}
img {display:block; border:none;}
button {cursor:pointer;}
a {font-family:"微软雅黑"; text-decoration:none; cursor:pointer;}
.trans02 {text-decoration:none; outline:none;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s;
}
.display_none, .hide {display:none;}
.display_block {display:block;}
.clear {clear:both;}
.cursor_move {cursor:move;}
.back_colorF90 {background:#FCF;}

.pages_mainwidth {width:800px; margin:0 auto;}
.page_blank {height:120px;}

/*将所有的radio和checkbox不显示*/
input[type="radio"], input[type="checkbox"] {position:absolute; left:-9999px;}
input[type="text"],textarea {border:1px #aaa solid; border-radius:5px;
	-moz-box-shadow:1px 1px 3px #aaa inset;
	-webkit-box-shadow:1px 1px 3px #aaa inset;
	box-shadow:1px 1px 3px #aaa inset;
}

/*========== 共用的弹出层 ==========*/
/*---------- 半透明层 ----------*/
.layer_black {position:fixed; width:100%; height:100%; left:0; top:0; background:rgba(0,0,0,.6); z-index:6; display:none;}
/*----- 白色内容区域 -----*/
.layer_black .layer_con {position:absolute; font-size:1.3em; width:570px; padding:15px; left:50%; top:80px; margin-left:-300px; background:#fff; border-radius:8px;}
/*-- 区域标题 --*/
.layer_black .layer_con .tit {height:34px; line-height:34px; font-size:1.1em; border-bottom:1px #aaa solid;}
.layer_black .layer_con .tit span {float:left; margin-right:30px;}
.layer_black .layer_con .tit i {float:left; font-style:normal; margin-left:20px; font-size:0.9em; color:#777;}
/*关闭按钮*/
.layer_black .layer_con .tit label.close {float:right; width:34px; height:34px; line-height:34px; text-align:center; font-size:1.6em;}
/*-- 区域form --*/
.layer_black .layer_con .form {margin-top:20px;}
.layer_black .layer_con .form li {line-height:36px; margin-bottom:20px; clear:both;}
.layer_black .layer_con .form li > span {float:left; width:80px; text-align:right; padding:0 10px;}
.layer_black .layer_con .form li > div {margin-left:100px;}
.layer_black .layer_con .form li div select {height:34px; line-height:34px; font-size:1.02em;}
.layer_black .layer_con .form li div input {height:34px; line-height:34px; width:98%; padding-left:2%; font-size:1.02em;}
.layer_black .layer_con .form li div textarea {width:98%; padding-left:2%; font-size:1.02em;}
/*-- form的选择b初始样式 --*/
.layer_black .layer_con .form li div b.radios,
.layer_black .layer_con .form li div b.check {font-size:0.9em; font-weight:normal; padding:5px 15px; margin-right:5px; border:1px #ddd solid; border-radius:5px; color:#666; cursor:pointer;}
/*-- form的选择b鼠标经过 --*/
.layer_black .layer_con .form li div b.radios:hover,
.layer_black .layer_con .form li div b.check:hover {color:#333; border:1px #333 solid;}
/*-- form的选择b选中效果 --*/
.layer_black .layer_con .form li div input[type="checkbox"]:checked + b.check,
.layer_black .layer_con .form li div input[type="radio"]:checked + b.radios {color:#333; border:1px #333 solid;}
/*-- 区域按钮 --*/
.layer_black .layer_con .btns {display:block; padding-top:20px; height:40px;}
.layer_black .layer_con .btns .span, .layer_black .layer_con .btns .b {padding:0 20px; height:30px; line-height:30px; border:1px #aaa solid; border-radius:5px; cursor:pointer;}
.layer_black .layer_con .btns .span {float:left;}
.layer_black .layer_con .btns .b {float:right;}
/*-- form的tab表格 --*/
.layer_black .layer_con .tab_area1 {width:100%; height:265px; margin-top:10px; overflow:hidden;}
.layer_black .layer_con .tab_area1 .tab_area2 {width:100%; height:100%; padding-right:30px; overflow-y:scroll;}
.layer_black .layer_con .tab_area1 .tab_area2 .tab_box table {font-size:0.85em;}

/*关闭按钮*/
.layer_black .layer_con .btns span {float:left;}
/*保存按钮*/
.layer_black .layer_con .btns b {float:right; background:#eee;}
/***** 弹出层动作 *****/
input[type="checkbox"]:checked + label + .layer_black {display:block;}


/*========== 共用TABLE表格 ==========*/
.tab_box {padding-top:20px;overflow-x:scroll;}
.tab_box table {width:100%; margin:0; padding:0; border-left:1px #aaa solid; border-top:1px #aaa solid;}
.tab_box table input[type="checkbox"].tab_check, .tab_box table input[type="radio"].tab_radio {position:relative; left:auto;}
.tab_box table th, .tab_box table td {border-right:1px #aaa solid; border-bottom:1px #aaa solid; text-align:center; padding:8px 5px; line-height:22px; font-size:1.3em;white-space:nowrap;}
.tab_box table th {background:#e6e6e6;}
.tab_box table td {font-size:1.2em; line-height:20px;white-space:nowrap;}
.tab_box table input[type="text"] {height:28px; line-height:28px;}
.tab_box table a {font-size:1.05em; color:#333; text-decoration:underline; cursor:pointer;}
.tab_box table a:hover, .tab_box table a:focus {color:#c00; text-decoration:none;}
.tab_box table td > label {cursor:pointer;}
.tab_box table td > label:hover {color:#c00;}
.tab_box table tr.selects select {width:100%; height:220px;}
.tab_box table tr.selects span {cursor:pointer;}
.tab_box table tr.selects span:hover {color:#c00;}
.tab_box table td > a {padding:1px 3px;}
/*----- 备注table -----*/
.tab_bz table tbody tr td:nth-of-type(1) {width:70px;}
.tab_bz table tbody tr td textarea {width:90%; height:80px;}
.tab_bz table tbody tr td:nth-of-type(3) {text-align:left;}
/*----- 显示提示区域 -----*/
.tab_box .tab_infos {line-height:100px; font-size:1.2em; text-align:center;}
/*----- 白色内容区域 -----*/
.tab_box .layer_black .layer_con {font-size:1em;}
/*----- 垃圾桶小图标 -----*/
.tab_box table tbody .lajitong {width:16px; margin:0 auto; background:#04b8af; cursor:pointer;}
.tab_box table tbody .lajitong img {width:100%;}


/*========== 共用子页面顶部导航 ==========*/
/*---------- 栏目标题 ----------*/
.pages_top_name {padding:5px; font-size:1.7em; font-weight:bold; border-bottom:1px #eee solid;}
/*---------- 栏目的一些按钮、select、search ----------*/
.pages_tops {padding:10px 0; border-bottom:1px #eee solid;}
/*点击的按钮*/
.pages_tops .tops {float:left; margin-right:40px;}
.pages_tops .tops.links .link {float:left; height:30px; line-height:30px; padding:0 10px; font-size:1.3em; cursor:pointer;}
.pages_tops .tops.links .link:hover {color:#c00;}
/*点击的Btn*/
.pages_tops .tops.links .btn {float:left; margin-left:15px; height:30px; line-height:30px; background:#38c; color:#ddd; border-radius:5px; padding:0 10px; font-size:1.3em; cursor:pointer;}
.pages_tops .tops.links .btn:hover {color:#fff;}
/*select*/
.pages_tops .tops.parts .select select {height:30px; line-height:30px; font-size:1.3em; padding:0 5px;}
/*search*/
.pages_tops .tops.form .search {font-size:1.3em; height:30px; line-height:30px; position:relative;}
.pages_tops .tops.form .search input {padding-left:1%; height:28px; line-height:28px;}
.pages_tops .tops.form .search img.sea_btn {position:absolute; width:20px; right:5px; top:6px; cursor:pointer;}
.pages_tops .tops.form .search img.date {display:inline;}
/*文本的地方*/
.pages_tops .tops.texts .text {height:30px; line-height:30px; padding:0 10px; font-size:1.3em;}
.pages_tops .tops.texts .text input[type="text"] {height:28px; width:50px; text-align:center; font-size:1.05em;}
.pages_tops .tops.texts .text .showTips {height:100%; line-height:30px; padding:0 10px; color:#fff; background:#f00; font-size:0.9em; font-weight:normal;}


/*========== 共用子页面顶部文字信息 ==========*/
.pages_infos {height:50px; line-height:50px; font-size:1.25em; text-align:center;}

/*========== 编辑内容表格 ==========*/
.editTable > table > tbody > tr > th {vertical-align:top;}
/*---------- 填写内容 ----------*/
.editTable > table > tbody > tr > td textarea {width:100%;}
.editTable > table > tbody > tr > td input[type="text"] {height:30px; line-height:30px; font-size:1.1em; width:99%; padding-left:1%;}
/*---------- 按钮 ----------*/
.editTable .btns {height:40px; margin-top:20px;}
.editTable .btns span, .editTable .btns button {float:left; width:44%; margin-left:4%; height:36px; line-height:36px; text-align:center; font-size:1.4em; border-radius:5px; cursor:pointer;}
.editTable .btns button {border:none; outline:none;}
.editTable .btns span.submit, .editTable .btns button.submit {background:#38c; color:#fff;}
.editTable .btns span.cancel, .editTable .btns button.cancel {background:#ccc;}
/*---------- 选择b初始样式 ----------*/
.editTable b.radios,
.editTable b.check {font-size:0.9em; font-weight:normal; padding:5px 15px; margin-right:5px; border:1px #ddd solid; border-radius:5px; color:#666; cursor:pointer;}
/*----- 选择b鼠标经过 -----*/
.editTable b.radios:hover,
.editTable b.check:hover {color:#333; border:1px #333 solid;}
/*----- 选择b选中效果 -----*/
.editTable input[type="checkbox"]:checked + b.check,
.editTable input[type="radio"]:checked + b.radios {color:#333; border:1px #333 solid;}


/*========== 排版管理表格样式 ==========*/
#weekpaiban input[type="text"] {width:50px; text-align:center;}






















