body {
    overflow-x: auto;
    overflow-y: auto;
    background-color: #fbfbfb;
}
hide {
    display: none;
}
li {list-style-type:none;}
.creat_con .creat_form .form_part2 .departs ul li .go_part3 {
    line-height: 60px;
}
.creat_con .creat_form .form_part2 .checkall span {
    display: inline;
}
.creat_con .creat_form .form_part2 .departs ul li .go_part3 .depart_info span {
    display: inline;
    font-size: 1.2em;
}

.creat_con .creat_form .form_part3 .select_con2 span {
    display: inline;
}
.creat_con .creat_form .form_part1 .fill_form dl.imgList dd i:after {
    content: none;
}
.main-header {
    position: relative;
    color: white;
    background-color: #04b7b1;
    line-height: 45px;
    margin-bottom: 10px;
}
.creat_con .creat_form .f_p {
    float: none;
}
.main-header .ml {
    position: absolute;
    left: 5px;
}
.main-header .mc {
    width: 100%;
    text-align: center;
}
.main-header .mr {
    position: absolute;
    right: 5px;
    top: 0;
    line-height: 45px;
}
.line {
    height: 1px;
    width: 100%;
    background-color: #0c0c0c;
}
.ui-tooltip {
    display: none;
}
.content-wrapper>.row {
    margin-right: 5px;
    margin-left: 5px;
}
.mask {
    display: none;
    position: absolute;
    top: 0px;
    width:100%;
    height: 100%;
    /* min-height: 562px; */
    background-color: white;
    /*top: 45px;*/
    z-index: 1031;
    padding: 0 5px 20px;
    padding-top: 0;
}
.event-drop div {
    display: inline-block;
    width: 38px;
}
.event-drop select {
    width: calc(100% - 42px);
    float: right;
}
.event-drop input {
    width: calc(100% - 42px);
    float: right;
}
.select2-types select {
    width: calc(100% - 42px);
}
/*.event-drop span {*/
    /*width: calc(100% - 42px);*/
    /*float: right;*/
/*}*/

.edit-group {
    background: white;
    color: black;
}
.fc-right {
    display: none;
}
.create_btn {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    border-left:white;
    background-color: #04b7b1;
    border-radius: 3px;
}
/*.form-control {*/
    /*margin-top: 30px;*/
    /*height: 100px;*/
    /*overflow: auto;*/
/*}*/
.event-drop {
    line-height: 40px;
}
.event-drop .div {
    line-height: 40px;
}
.event-drop .dropdown-menu {
    right:0;
}
.event-drop .dropdown {
    width: 80%;float: right;text-align: right;right: 0;
}
.attendee label {
    min-width: 30%;
}
.attendee .other p {
    width: 100%;
    text-align: center;
    line-height: 40px;
}
.attendee .other div ul {
   display: none;
}
.attendee .other div .open {
   display: block;
}
.main-header a {
    color: white;
}
.exportBtn {
    display: none;
    float: right;
}
.bar {
    height: 18px;
    background: green;
}
@media (min-width: 768px) {
    .main-header {
        display: none;
    }
    .mask {
        width: calc(100% - 230px);
        top: 0;
    }
    .exportBtn {
        display: block;

    }
}