body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:10px;
  width:440px;
  height:782px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:782px;
}
#u1 {
  position:absolute;
  left:2px;
  top:383px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
