body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2637px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:416px;
  height:740px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:740px;
}
#u1 {
  position:absolute;
  left:2px;
  top:362px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:444px;
  top:10px;
  width:416px;
  height:740px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:740px;
}
#u3 {
  position:absolute;
  left:2px;
  top:362px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:878px;
  top:10px;
  width:416px;
  height:740px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:740px;
}
#u5 {
  position:absolute;
  left:2px;
  top:362px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1301px;
  top:10px;
  width:432px;
  height:855px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:855px;
}
#u7 {
  position:absolute;
  left:2px;
  top:420px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1743px;
  top:10px;
  width:417px;
  height:741px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:741px;
}
#u9 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:2170px;
  top:10px;
  width:467px;
  height:925px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:925px;
}
#u11 {
  position:absolute;
  left:2px;
  top:454px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
