body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:7px;
  width:424px;
  height:753px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:753px;
}
#u1 {
  position:absolute;
  left:2px;
  top:368px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:456px;
  top:7px;
  width:424px;
  height:753px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:753px;
}
#u3 {
  position:absolute;
  left:2px;
  top:368px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:906px;
  top:7px;
  width:424px;
  height:753px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:753px;
}
#u5 {
  position:absolute;
  left:2px;
  top:368px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
